p.ex1{
border:1px solid black;
outline-style:solid;
outline-color:red;}
p.ex2{
boder: 2px solid black;
outline-style:dotted;
outline-color:yellow;
}
p.ex3{
border: 1px solid black;
outline-style:dotted;
outline-color: green;
}

