.hd{
    background-color: rgb(255, 0, 238);
   padding: 30px;
}
.art{
    background-color: rgb(255, 0, 0);
    padding: 30px;
    width: 10%;
    height: 50vh;
}
.wid{
    background-color: blueviolet;
    height: 43.2vh;
    width: 100%;
  
    padding: 50px;
}
.main-container{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    gap: 10px;
   
}