.box{
    background-color: aquamarine;
    border-radius: 5px;
    margin:2px;
    padding: 10px;
    flex: 0 0 auto;
    flex:0 1 100px;
}
.flex-container {
    background: green;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  flex-wrap: wrap;
  gap: 10px;
}
.box3{
    background: red;
    flex-grow: ; 
    
   

}