.parent{
    display: grid;
    grid-template-columns: repeat(12,fr);
}
.segment{
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-rows: 100px;
}
.twelve{
    background-color: lightseagreen;
    grid-column: 1/span 12;
}
.eight{
    background-color: bisque;
    grid-column:5/ span 8 ;
}
.four{
    grid-column: 1/ span 4;
    background-color: lightblue;
}
.six{
    grid-column: 4/ span 6;
    background-color: lightsteelblue;
}
.seven{
grid-column: 3/ span 7;
background-color: lightcoral;
}