body {
  margin: 0;
  padding: 0;
}
.marq{
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
    
}

.adres{
    color:white;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: jost;
    margin: 0;
}
.lah{
    color:red;
    font-size: 18px;
   font-weight: bold;
  margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 34px ;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .mdcat{
    background-color: red;
    border: 5px dotted black;
    padding: 10px;
    font-size: 18px;
    color: white;
  }